* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: mintcream;
}

/* CSS for the Nav bar at the top of the page  */

nav {
    background: silver;
    width: 100%;
    height: 20vh;
}

/* Title Section of the Nav Title */

.title {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 20vh;
    float: left;
}

.nav-title {
    color: #556B2F;
    text-shadow: 1px 1px white;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    margin-top: 6%;
}

/*  Css for the Nav Links  */

.menu {
    width: 40%;
    float: right;
    height: 20vh;
    padding: 1%;
}

.menu ul {
    display: flex;
    flex-direction: inline-flex;
    justify-content: space-around;
    margin-top: 8%;


}

.menu li {
    list-style: none;
}

.menu a {
    color: #556B2F;
    text-shadow: 1px 1px white;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
}

.menu a:hover {
    color: white;
    text-shadow: 1px 1px black;
}

/*  CSS for the first section on the webpage */

.time-section {
    width: 100%;
    height: 10vh;
    background: #FFF8DC;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

#time {
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
}

/* CSS for the second Section */

.intro-section {
    margin-top: 1%;
    width: 100%;
    height: 65vh;
    background: #FFF8DC;
}

.intro-title {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
}

.information {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: sans-serif;
    margin: 3%;

}

.images {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

#image1,
#image2,
#image3,
#image4 {
    height: 250px;
    width: 250px;
    padding: 1%;
    margin: 1%;
}